[submodule "js/jquery-cookie"]
	path = js/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "Mobile-Detect"]
	path = Mobile-Detect
	url = https://github.com/serbanghita/Mobile-Detect.git
